.container {
  margin-top: 80px;
}

.container h1 {
  margin: 20px;
}

.details {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.input {
  margin: 20px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
